@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1 {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-bottom: 30px;

}

span {
    color: #644FE0;
}

body {
    height: 90vh;
    background: white url(../assets/background.png) center center no-repeat fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}

div#imagem {
    position: relative;
    left: 50%;
    transform: translateX(-49%);
    margin-top: 70px;
}

div#dados {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    background-color: rgb(255, 251, 251);
    width: 500px;
    height: 600px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 0px 30px rgb(193, 192, 199);
}

form {
    width: 500px;
    margin: 40px;
    /*para ficar um input em cima do outro*/
    margin-bottom: 0px;
}

#tipopessoa {
    margin-top: 5px;
    margin-bottom: 15px;
    /*para ter um espaçamento entre eles*/
    width: 61.5%;
    color: rgb(65, 65, 65);
    height: 30.5px;
    outline: none;
    padding-left: 8px;
    background: #FAFAFC;
    border: 1px solid #66666C;
    border-radius: 8px;
    padding-left: 0px; 
}

input {
   position: relative;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-right: 0px;
    /*para ter um espaçamento entre eles*/
    width: 60%;
    color: rgb(65, 65, 65);
    height: 28px;
    outline: none;
    background: #FAFAFC;
    border: 1px solid #66666C;
    border-radius: 8px;    
}

input::placeholder {
    color: rgb(65, 65, 65);
    font-size: 13px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

form [type="submit"] {
    background: rgb(48, 46, 46);
    color: whitesmoke;
    width: 62%;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
}

form [type="submit"]:hover{
    background-color: #644FE0;
}

li {
    list-style-type: none;
}

fieldset{
    border:none;
    text-align: right;
    width: 300px;
}

#esquecisenha {
    width: 58%;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-top: 0px;
    margin-top: 0%;
    
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #644FE0;
    text-decoration: underline;

}


#naopossuiconta {
    margin-top: 25px;
    width: 85%;
}

