
header{
    max-width: 100%;
    position: relative;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    /*/overflow: hidden;/*/
    margin: 0;

}

main {
    /*/caixa cinza/*/
    background-color: #707070;
    height: 75vh;
    width: 100%;
   
}

main>#caixaroxa {
    position: absolute;
    height: 55vh;
    width: 75%;
    background-color: #A99EE0;
    margin-top: 7.5vh;
    left: 12.5%;
}

#caixap {
    width: 25%;
    background-color: rgba(0, 255, 255, 0);
    height: 30vh;
    font-weight: bold;
    position: absolute;
    top: 19%;
    text-align: center;
    padding-left: 5%;
    font-size: 100%;
    text-align: justify;
}

main>#caixabranca {
    position: absolute;
    height: 50vh;
    width: 53%;
    background-color: #F3F3F3;
    margin-top: 16.5vh;
    left: 41.5%;
}

#caixabranca h1 {
    text-align: center;
    font-size: auto;
    margin-bottom: 3%;
    margin-top: 5%;
}

#pcaixabranca {
    position: relative;
    text-align: center;
    margin-bottom: 6%;
    
}

#menu {
    box-sizing: border-box;
}

nav {
    margin-top: 1%;
    text-align: center;
    height: 10vh;
    padding-left: 30%;
}

nav ul {
    display: inline-flex;
    list-style: none;
}

nav ul li {
    /*/tamanhos dos quadrados la em cima e transição suave de cor/*/
    width: 136px;
    margin: 1px;
    padding: 8px;
    background-color: #f3f3f3;
    color: black;
    transition: background-color 0.5s ease;
}

.mudacor2 a {
    color: black;
}


.mudacor2:hover::before a {
    color: white;
}

.mudacor {
    color: black;
}

.mudacor a {
    color: black;
}

.mudacor:hover {
    background-color: #3f3f3f;
}

.mudacor:hover a {
    color: white;
}


nav ul li a {
    text-decoration: none;
}

nav ul li:hover .sub-menu-1 {
    display: block;
    position: relative;
}

nav ul li:hover .sub-menu-1 ul {
    display: block;
    position: absolute;
    margin-top: 8px;
    margin-left: -49px;
}

.sub-menu-1 {
    display: none;
    background-color: #3f3f3f;
    z-index: +3;
}

nav ul li:hover .sub-menu-2 {
    display: block;
    position: absolute;
    z-index: +3;
}

nav ul li:hover .sub-menu-2 ul {
    display: block;
    position: absolute;
    margin-top: 8px;
    margin-left: -49px;
}

.sub-menu-2 {
    display: none;
}

nav ul li:hover .sub-menu-3 {
    display: block;
    position: absolute;
    z-index: +3;
}

nav ul li:hover .sub-menu-3 ul {
    display: block;
    position: absolute;
    margin-top: 8px;
    margin-left: -49px;
}

.sub-menu-3 {
    display: none;
}

#rodape {
    position: relative;
    height: 15vh;
    width: 100%;
}

#rodape img{
    position: relative;
    top: 12%;
    left: 5%;
}


#rodape p {
    position: relative;
    left: 60%;
    text-align: center;
    display: inline-block;
}

#sair {
    font-size: 15px;
    padding-left: 3%;
    text-decoration: none;
    color: black;
}

a {
    font-weight: bolder;
}

#image01 {
    position: absolute;
    left: 15%;
    width: 5%;
    height: 8%;
}

#bemvindo {
    position: absolute;
    left: 21.2%;
    top: 2%;

}

li {
    list-style-type: none;
}

.uc {
    position: relative;
    color: black;
    text-decoration: none;
}

.uc:hover {
    color: #644FE0;
}

table {
    padding-left: 3%;
}

th{
    padding-bottom: 4%;
}